<div>
    <form class="add-post-form">
        {{!-- choose item --}}
        <div>
            <label>ITEM</label>
            <select id="add-item">
                {{#each items as |item|}}
                <option value="{{item.id}}">{{item.name}}</option>
                {{/each}}
            </select>
        </div>
        {{!-- quality --}}
        <div>
            <label>QUALITY</label>
            <input type="number" id="add-quality">
        </div>
        {{!-- starting bid --}}
        <div>
            <label>STARTING BID</label>
            <input type="number" id="add-starting-bid">
        </div>
        {{!-- accept trades --}}
        <div>
            <p>ACCEPTABLE TRADES</p>
            {{#each items as |item|}}
            <input type="checkbox" id="{{item.name}}" name="{{item.name}}" value="{{item.id}}">
            <label for="{{item.name}}">{{item.name}}</label>
            {{/each}}
        </div>
        {{!-- submit button --}}
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    {{!-- View Item
    -Stuff from posting model:
        -quality
        -starting_bid
        -current_bid
        -acceptable_trades
    -Post button  --}}
</div>

<script src="/js/newpost.js"></script>