<div>
    <h2>{{posting.merchandise.name}}</h2>

    <h4>Quality: {{posting.quality}}</h4>

    <h4>Details:</h4>
    <ul>
        <li>Starting Bid: {{posting.starting_bid}}</li>
        <li>Current Bid: {{posting.current_bid}}</li>
        <li>Posted By: {{posting.user.username}}</li>
    </ul>
</div>