<div>
    <h2>{{posting.merchandise.name}}</h2>

    <h4>Quality: {{posting.quality}}</h4>

    <h4>Details:</h4>
    <ul>
        <li>Starting Bid: {{posting.starting_bid}}</li>
        <li>Current Bid: {{posting.current_bid}}</li>
        <li>Posted By: {{posting.user.username}}</li>
    </ul>
    <form class="formHandler">
      <label for="Bid Amount">Bid Amount</label>
      <input type="text" class="bid-amount" placeholder="Enter Bid" id={{posting.id}}>
      <button type="submit" id="place-bid-btn">Place Bid</button>
      <button type="submit" id="update-bid-btn">Change Bid</button>
    </form>
</div>
<script src="/js/bidItem.js"></script>